{% extends "base.html" %}

{% block content %}
<br>
<div class="container d-flex justify-content-center align-items-center min-vh-10">
    <div class="text-center">
      <div class="card" style="width: 25rem;">
        <div class="card-body">
          <h2>Profile</h2>
          <br>
          <p><strong>Username:</strong> {{ user.username }}</p>
          <p><strong>Email:</strong> {{ user.email }}</p>
          <p><strong>First Name:</strong> {{ user.first_name }}</p>
          <p><strong>Last Name:</strong> {{ user.last_name }}</p>
          <p><strong>Phone:</strong> {{ user.phone }}</p>
          <p><strong>Date of Birth:</strong> {{ user.date_of_birth }}</p>
          <a href="{% url 'edit_profile' %}">
            <button class="btn btn-primary"> Edit Profie </button>
        </a>
        </div>
      </div>
    </div>
</div>
{% endblock %}
