<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'dashboard' %}">MyWebsite</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">Home</a>
              </li>
              {% if user.is_authenticated %}
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'edit_profile' %}">Edit Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'job_list' %}">Job</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'recruiter_list' %}">Recruiter</a>
                  </li>


                <li class="nav-item">
                    <a class="nav-link" href="{{ github }}">
                        <i class="fab fa-github"></i> GitHub
                    </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="{{ linkedin }}">
                        <i class="fab fa-linkedin"></i> LinkedIn
                    </a>
                </li>
                

                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <li class="nav-item">
                      <form method="post" action="{% url 'logout' %}" class="d-inline">
                          {% csrf_token %}
                          <button type="submit" class="btn btn-danger">Logout</button>
                      </form>
                  </li>

              {% else %}
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'login' %}">Log In</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
                  </li>
              {% endif %}
          </ul>
      </div>
  </div>
</nav>
