{% extends "base.html" %}
{% load static %}
{% block title %}Track List{% endblock %}

{% block content %}

<style>
  /* General Styles */
  .detail-card {
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    margin-bottom: 2rem;
  }

  .detail-card-body {
    padding: 2rem;
  }

  .detail-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .detail-description {
    font-size: 1.2rem;
    color: #333;
  }

  .back-button {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
    padding: 0.75rem 1.25rem;
    border-radius: 0.25rem;
    text-decoration: none;
    display: inline-block;
    margin-top: 1rem;
  }

  .back-button:hover {
    background-color: #0056b3;
    border-color: #004085;
  }

  .resource-button {
    background-color: #28a745;
    border-color: #28a745;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    text-decoration: none;
    display: inline-block;
    margin-left: 0.5rem;
  }

  .resource-button:hover {
    background-color: #218838;
    border-color: #1e7e34;
  }

  .text-center {
    text-align: center;
  }

  .container-lg {
    margin-top: 3rem;
  }

  .resource-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .resource-link a {
    color: #007bff;
    text-decoration: none;
  }

  .resource-link a:hover {
    text-decoration: underline;
  }

  .btn-bookmark {
    background: none;
    border: none;
    color: #007bff;
  }

  .btn-bookmark:hover {
    color: #0056b3;
  }
</style>

<div class="container-lg">
  <div class="row">
    {% for track in tracks %}
      <div class="col-md-4">
        <div class="card detail-card mb-4">
          <div class="card-body detail-card-body">
            <h2 class="detail-title">{{ track.title }}</h2>
            <p class="detail-description">{{ track.description }}</p>
            <div class="d-flex justify-content-end">
              <form action="{% url 'bookmark' track.slug %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-bookmark">
                  {% if track.id in user_bookmarks %}
                    <i class="fas fa-bookmark"></i>
                  {% else %}
                    <i class="far fa-bookmark"></i>
                  {% endif %}
                </button>
              </form>
            </div>
            <a href="{% url 'keeptrackdetail' track.slug %}" class="btn btn-primary">View Details</a>
            <a href="{% url 'delete_track' slug=track.slug %}" class="btn btn-danger">
              <i class="fas fa-trash-alt"></i>
          </a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
